@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    /* 1. Définition des Polices */
    --font-display: "Dm Sans", sans-serif;
    --font-body: "Inter", sans-serif;

    /* 2. Définition des Tailles avec leurs Interlignes intégrés */
    /*   */

    --text-display1: 60px;
    --text-display1--line-height: 1.1;

    --text-h2: 2.5rem;
    --text-h2--line-height: 1.2;

    --text-h4: 25px;
    --text-h4--line-height: 1.2;


    --text-medium-txt: 20px;
    --text-medium-txt--line-height: 1.58;

    --text-base-txt: 16px;
    --text-base-txt--line-height: 1.6;

    --text-large-txt: 20px;
    --text-large-txt--line-height: 1.6;

    --text-small-txt: 14px;
    --text-small-txt--line-height: 1.4;

    /* 3. Définition des Couleurs */
    --color-brand-green: #3A7326;
    --color-brand-dark: #3C403A,;
    --color-border-color: #C1C5BF;
    --color-text-color: #A2A89E;
    
}


@layer utilities {

    .display-style {
        @apply font-display text-display1;
    }

    .H1-Bold {
        @apply font-bold text-5xl font-display;
        line-height: 1.16;
    }

    .h2-style {
        @apply font-display text-h2;
    }

    .H3-Bold {
        @apply font-bold font-display;
        font-size: 2rem;
        line-height: 1.28;
    }

    .h4-style {
        @apply font-display text-h4;
    }

    .h5-style {
        @apply font-display text-medium-txt
    }

    /* Les styles pour le corps du texte (Inter) */
    .body-medium {
        @apply font-body text-medium-txt;
    }

    .body-base {
        @apply font-body text-base-txt;
    }

    .body-large {
        @apply font-body text-large-txt
    }

    .body-small {
        @apply font-body text-small-txt
    }
}